dist*
.idea/
server/.stack-work
static/tmp/
static/combined/
config/client_session_key.aes
config/keter.yml
config/keter-dev.yml
*.hi
*.o
*.sqlite3
*.keter
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
run.sh
extra-bower
bower_components
why.md
case.md
.idea
.idea/*
