dist*
.idea/
server/static/tmp/
server/static/combined/
server/config/client_session_key.aes
server/config/keter.yml
server/config/keter-dev.yml
*.hi
/client/.stack-work
/server/.stack-work
*.o
*.sqlite3
*.keter
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
run.sh
extra-bower
bower_components
why.md
case.md
.idea
.idea/*
